:root {
    --main-color: #417690;
    --main-hover-color: #87B3C9;
}

/* bootstrap nav */

.bg-base {
    background-color: var(--main-color);
}

.bg-base .navbar-brand {
    color: #ffffff;
}

.nav-text {
    color: rgba(255, 255, 255);
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

/* body */
/* .img-logo {
    border: 1px solid black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
} */

/* .img-logo img {
    width: 100%;
    padding: 1em;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
} */

.container {
    padding-top: 80px;
}

.post-box {
    border-bottom: var(--main-color) solid 2px;
    padding-top: 1em;
}

.post-title {
    padding: 1em;
    display: flex;
    align-items: center;
}

.post-title span {
    color: orange;
    font-size: small;
    /* font-family: "Lucida Console", Courier, monospace; */
    font-family: "Lucida Console", "Courier New", monospace;
    padding-right: 0.5em;
}

.post-title a {
    color: var(--main-color);
    text-decoration: none;
}

.post-title a:hover {
    color: var(--main-hover-color);
}

.post-date {
    padding: 1em;
    font-size: smaller;
    text-align: right;
}

.post-content {
    padding: 0 1em 4px 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    box-sizing: border-box;
}

.post-comments {
    padding: 0 1em 1.5em;
}

/* 2. Small devices （橫式手機用途，包含 576px and up) */
@media (max-width: 576px) {
    /* .img-logo {
        height: 100%;
        padding: 1em;
    } */

    .bg-base {
        background-color: black;
    }
    .post-title {
        padding: 1em 1em 0 1em;
    }
    .post-date {
        padding: 3px 1em 1em 1em;
        font-size: smaller;
        text-align: left;
    }
}

/* 3. Medium devices （平板用途，768px and up) */
/* @media (min-width: 768px) {

} */

/* 4. Large devices （電腦用途，992px and up) */
/* @media (min-width: 992px) {
    .bg-base {
        background-color: green;
    }
} */
